<div class="card">
  <div class="card-body">
    <div class="flex">
      <h3 class="card-title"><%= @article.title %></h5>
      <ul>
        <li>
          <%= link_to(edit_article_path(@article)) do %>
            <i class="fas fa-edit fa-2x"></i>
          <% end %>
        </li>
        <li>
          <%= link_to(article_path(@article),method: :delete, class: "destroy", data: {confirm: "投稿を削除しますか？"}) do %>
            <i class="fas fa-trash fa-2x"></i>
          <% end %>
        </li>
      </ul>
    </div>
    <ul class="article-item-list">
      <% @article.article_items.each do |article_item| %>
        <li class="article-item-list__item">
          <% if article_item.article_question_id != nil %>
            <h5 class="card-title">問い：<%= @article_questions.find(article_item.article_question_id).question %></h5>
          <% else %>
            <h5 class="card-title">問いが選ばれていません</h5>
          <% end %>
          <p class="card-text"><%=  simple_format article_item.body %></p>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<%= render partial: "shared/create-category-modal", locals: { category: @category  } %>
<%= render partial: "shared/destroy-category-modal", locals: { categories: @categories }   %>