<header class="column-header">
  <div class="column-header__logo mb-4">
    <%= link_to(articles_path) do %>
      <img src="/assets/logo.png" alt=""/>
    <% end %>
  </div>
  <%= form_with url: search_path, method: :get, local: true, class: "mb-5" do |f| %>
    <h5><i class="fas fa-search mr-2"></i><%= f.label :search_word, "検索フォーム" %></h5>
    <%= f.text_field :search_word, class: "form-control w-75 mb-3" %>
    <%= f.submit "検索", class: "btn btn-primary" %>
  <% end %>
  <nav>
    <ul class="column-header__list">
      <li class="column-header__list__item mb-4">
        <%= link_to(new_article_path, class: "btn btn-primary") do %>
          <i class="fas fa-pen mr-2"></i>投稿
        <% end %>
      </li>
      <li class="column-header__list__item mb-4">
        <%= link_to(favorites_index_path, class: "btn btn-primary") do %>
          <i class="fas fa-star mr-2"></i>お気に入り
        <% end %>
      </li>
      <li class="column-header__list__item mb-4">
        <%= link_to(edit_user_registration_path, class: "btn btn-info") do %>
          <i class="fas fa-user mr-2"></i>ユーザー情報
        <% end %>
      </li>
      <li class="column-header__list__item mb-4">
        <%= link_to(destroy_user_session_path, method: :delete, class: "btn btn-warning", data: {confirm: "ログアウトしますか？"}) do %>
          <i class="fas fa-user-alt-slash mr-2"></i>ログアウト
        <% end %>
      </li>
      <li>
        <ul class="list-group" style="max-width: 80%">
          <li class="list-group-item active">カテゴリー</li>
          <li class="list-group-item">
            <%= link_to("一覧",articles_path )%>
          </li>
          <li class="list-group-item">
            <%= link_to("学び",categories_path(:category_id => 1) )%>
          </li>
          <li class="list-group-item">
            <%= link_to("感想",categories_path(:category_id => 2) )%>
          </li>
          <li class="list-group-item">
            <%= link_to("質問への回答",categories_path(:category_id => 3) )%>
          </li>
          <li class="list-group-item">
            <%= link_to("その他",categories_path(:category_id => 4) )%>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
