<header class="column-header">
  <div class="column-header__logo mb-4">
    <%= link_to(articles_path("適当":"aaa")) do %>
      <img src="/assets/logo.png" alt=""/>
    <% end %>
  </div>
  <%= form_with url: search_path, method: :get, local: true, class: "mb-5" do |f| %>
    <h5><i class="fas fa-search mr-2"></i><%= f.label :search_word, "検索フォーム" %></h5>
    <%= f.text_field :search_word, class: "form-control w-75 mb-3" %>
    <%= f.submit "検索", class: "btn btn-primary" %>
  <% end %>
  <nav>
    <ul class="column-header__list">
      <li class="column-header__list__item mb-4">
        <%= link_to(new_article_path, class: "btn btn-primary") do %>
          <i class="fas fa-pen mr-2"></i>投稿
        <% end %>
      </li>
      <li class="column-header__list__item mb-4">
        <%= link_to(favorites_index_path, class: "btn btn-primary") do %>
          <i class="fas fa-star mr-2"></i>お気に入り
        <% end %>
      </li>
      <li class="column-header__list__item mb-4">
        <%= link_to(edit_user_registration_path, class: "btn btn-info") do %>
          <i class="fas fa-user mr-2"></i>ユーザー情報
        <% end %>
      </li>
      <li class="column-header__list__item mb-4">
        <%= link_to(destroy_user_session_path, method: :delete, class: "btn btn-warning", data: {confirm: "ログアウトしますか？"}) do %>
          <i class="fas fa-user-alt-slash mr-2"></i>ログアウト
        <% end %>
      </li>
      <li>
        <ul class="list-group" style="max-width: 80%">
          <div class="category">
            <li class="list-group-item active">カテゴリー</li>
            <div class="category__button">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createCategoryModal" data-whatever="@getbootstrap"><i class="far fa-plus-square"></i></button>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#destroyCategoryModal" data-whatever="@getbootstrap"><i class="far fa-minus-square"></i></button>
            </div>
          </div>
          <% @categories.each do |category|%>
            <li class="list-group-item">
              <%= link_to(category.name,categories_path(category_id: category.id)) %>
            </li>
          <% end %>
        </ul>
      </li>
    </ul>
  </nav>
</header>


 
