<!DOCTYPE html>
<html>
  <head>
    <title>DigMemo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="flash">
      <% if flash[:notice] %>
        <p class="alert alert-success mb-0"><%= flash[:notice] %></p>
      <% elsif flash[:alert] %>
        <p class="alert alert-danger mb-0"><%= flash[:alert] %></p>
      <% end %>
    </div>

    <% if user_signed_in? %>
      <div class="container mb" style="max-width: 90%">
        <div class="flex">
          <%= render partial: "shared/side-header", locals: { categories: @categories }%>
          <%= yield %>
        </div>
      </div>
    <% else %>
      <%= yield %>
    <% end %>

  </body>
</html>
